# Unreal derived directories
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
Content/StarterContent/Textures/
Content/StarterContent/HDRI/

# Visual Studio derived files
.vs/**/ipch/
*.VC.db
*.VC.opendb
*.VC.db-wal
